.apage {
  margin: 0;
  padding: 4rem 2rem;
  width: auto;
  display: flex;
  align-items: baseline;
  overflow: hidden;
  background-color: #f6f6f6;
  flex-direction: column;
  gap: 4rem;
}

.aparent1 .aheading {
  display: flex;
  width: 24rem;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
}

.apage .aparent1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.aparent1 .asubheading {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 250;
  line-height: 110%;
  width: 50%;
  float: right;
}

.aheading p {
  margin: 0;
  padding: 0;
}

.asubheading p {
  margin: 0;
  padding: 0;
}

.aparent2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.askills .asubheading {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 250;
  line-height: 110%;
  width: 14rem;
  margin-bottom: 0.5rem;
}

.askills .askillslist ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 0;
}

.apara {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.apara p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.aparent3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.atools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.atools ul {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 250;
  line-height: 110%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 0;
}