.apage {
  margin:0;
  padding:20vh 0 8vh 0;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: baseline;
  overflow: hidden;
  background-color: #f6f6f6;
  flex-direction: column;
  gap: 4rem;
}
.aparent1 .aheading {
  display: flex;
  width: 24rem;
  color: #191919;
  font-size: 6rem;
  font-family: SF Pro;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
}

.apage .aparent1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.aparent1 .asubheading {
  color: #191919;
  font-size: 3.5rem;
  font-family: SF Pro;
  font-style: normal;
  font-weight: 250;
  line-height: 110%;
  width: 50%;
  float: right;
}

.aheading p {
  margin: 0;
  padding: 0;
}

.asubheading p {
  margin: 0;
  padding: 0;
}

.aparent2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.askills .asubheading {
  color: #191919;
  font-size: 3.5rem;
  font-family: SF Pro;
  font-style: normal;
  font-weight: 250;
  line-height: 110%;
  width: 14rem;
  margin-bottom: 0.5rem;
}

.askills .askillslist ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 0;
}

.aparent2 .apara {
  float: right;
  width: 50%;
  font-size: 1rem;
  font-family: SF Pro;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: space-evenly;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aparent2 .apara1 p {
  margin: 0;
  padding: 0;
}

.aparent2 .apara2 p {
  margin: 0;
  padding: 0;
}

.aparent3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.atools{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.atools ul {
  font-size: 3.5rem;
  font-family: SF Pro;
  font-style: normal;
  font-weight: 250;
  line-height: 110%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 0;
}