.scroll-container{
    scroll-snap-type: y mandatory;
    
}
.sec1,.sec2,.sec3{
    padding-top: 15vh;
    padding-bottom: 15vh;
    scroll-snap-align: top;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100rem 0;
}
.mid-sec{
    height: 100vh;
    width: 100%;
    background-color: #191919;
}