.divi{
    width: 100%;
    background-color: #f6f6f6;
    scroll-snap-align: start, end;
}
.divi p{
    font-size: 12rem;
    text-align: center;
    -webkit-text-stroke: 8px #191919;
    -webkit-text-fill-color: #f6f6f6;
}