.hpage {
  background-color: #f6f6f6;
  margin:0;
  margin-top: 2rem;
  padding:0;
  height: 100vh;
  width: 100%;
  display: flex;
  scroll-snap-align: end;
  flex-direction: column;
  justify-content: space-around;
}

.hpage .hheading {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 40.375rem;
  text-align: center;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
}

.hpage .hpara {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.hpara .hcontent1 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 13.5rem;
}

.hpara .hcontent2 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 14rem;
}

.hpage .hsubheading {
  float: right;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 250;
  line-height: 110%;
  width: 50%;
}

.hsubheading p {
  margin: 0;
  padding: 0;
}

.hpara .hparent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: start;
  margin: 0;
  padding: 0;
}
.hpage{
  scroll-snap-type: y mandatory;
}