::root {
  --heading {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 86.3%;
    text-transform: capitalize;
    color: #191919;
  }

  --subheading {
    color: #191919;
    font-size: 3.5rem;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 274;
    line-height: 100%;
  }

  --para {
    color: #191919;
    font-size: 1rem;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 510;
    line-height: normal;
  }
}
.page .heading {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 190%;
  text-transform: capitalize;
  color: #191919;
  align-content: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}

.page .subheading{
  color: #191919;
    font-size: 2rem;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: lighter;
    line-height: 150%;
}