@font-face {
  font-family: SF Pro;
  src: url(./SF-Pro.woff2) format('woff2');
  font-display: swap;
}
html{
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
body {
  margin: 0;
  padding:0;
  background-color: #F6F6F6;
  font-family: SF Pro;
  z-index: -1;
}