@font-face {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
  z-index:0;
  color: #191919;
  transition: all 0.5s ease-out;
}