
.navbar{
    position: fixed ;
    background: rgba(246, 246, 246, 0.75);
    backdrop-filter: blur(17.5px);
    top:1rem;
    left: 0.5%;
    right: 0.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    z-index: 1;
    border: 1px solid #191919;
    border-radius: 2rem;
}

.navbar .circle{
    border: 1px solid #191919;
    background: #f6f6f6;
    backdrop-filter: blur(17.5px);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navbar .nav{
    font-size: 1rem;
    font-family: SF Pro;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.nav ul{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding:0;
    margin: 1.5rem;
}

.nav ul li{
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    justify-content: center;
}

.hname {
    position: fixed;
    left: 2rem;
    font-size: 1rem;
    font-family: SF Pro;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 1;
  }

  .hportfolio {
    position: fixed;
    right: 2rem;
    font-size: 1rem;
    font-family: SF Pro;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 1;
  }
  