.wpage {
    margin: 8rem 0 0 0;
    padding-top: 15vh;
    padding-bottom: 50vh;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-type: proximity;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}

.wpage .wparent1 {
    top:15vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.wpage .wheading {
    display: flex;
    width: 25rem;
    color: #191919;
    text-align: left;
    font-size: 6rem;
    font-family: SF Pro;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
}

.wpage .wsubheading {
    position: absolute;
    right: 2rem;
    float: right;
    color: #191919;
    font-size: 3.5rem;
    font-family: SF Pro;
    font-style: normal;
    font-weight: 250;
    line-height: 110%;
    width: 42rem;
}

.wsubheading p {
    margin: 0;
    padding: 0;
}

.wheading p {
    margin: 0;
    padding: 0;
}


.wpage .wparent2 {
    font-size: 1rem;
    font-family: SF Pro;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    width: 100%;
}

.wparent2 .wcontent {
    top:2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.wcontent .wpara2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wcontent .wpara2 p {
    margin: 0;
    padding: 0;
}

.wcontent .wpara2 ul li {
    margin-top: 0.5rem;
}

.wpage .wparent3 {
    display: flex;
    flex-direction: column;
}

.wparent3 .wprocess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    gap: 3rem;
}

.wparent3 .wprocessheading {
    color: #191919;
    font-size: 3.5rem;
    font-family: SF Pro;
    font-style: normal;
    font-weight: 250;
    line-height: 110%;
}

.wprocess .wprocesscontent {
    font-size: 1rem;
    font-family: SF Pro;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: top;
}

.wprocessheading p {
    margin-bottom: 1rem;
    padding: 0;
}

.wprocesscontenthead {
    font-size: 1rem;
    font-family: SF Pro;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wcase{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    gap: 2rem;
    width: 36rem;
}

.wcase .image{
    max-width: 36rem;
    height: 25rem;
    object-fit: contain;
    border-radius: 2px;
}